@import "tailwindcss";

@layer components {
  .link {
    background-color: #333333;
    border-radius: 0.5rem;
    padding: 8px 0;
  }

  .link:hover {
    background-color: #c5f82a;
    color: #333333;
  }
}
